<footer class="footer">
    <div class="container footer-container">
        <div class="footer-page-wrapper">
        <h2 class="footer-title">Pages</h2>
        <ul class="footer-menu-list">
            <li class="footer-menu-item"><a class="footer-menu-list-item" href="./#home">Home</a></li>
            <li class="footer-menu-item"><a class="footer-menu-list-item" href="./#world">World</a></li>
            <li class="footer-menu-item"><a class="footer-menu-list-item" href="./#demo">Game</a></li>
            <li class="footer-menu-item">
                <a class="footer-menu-list-item" href="./#heroes">Characters</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-list-item" href="./#battle">Battle System</a>
            </li>        
        </ul>
    </div>
    <div class="footer-page-wrapper">
        <h2 class="footer-title">Important links</h2>
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms</a>
            </li>        

            <li class="footer-link">
                <a class="footer-underline" href="cookies.html">Cookie</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="./#discklaimer">Disclaimer</a>
            </li>
        </ul>
    </div>
        <div class="footer-logo-wrapper">
                    <a class="footer-logo-link" href="./#home">
                            <img class="footer-logo" src="/img/footer/logo.png" alt="Logo" loading="lazy">
                    </a>
        <p class="footer-text">All rights reserved. 2025<br/>      
        myraverse.site</p> </div>
    </div>
</footer>