<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-titlle">NUKE WORLD</h1>
            <p class="home-one-text">So the world's basically toast, and if you're not mutated? Well, you're screwed.
            </p>
            <p class="home-two-text">So after everything went to hell, all the old rules? Gone. Cities became these
                crazy battlegrounds, and the radiation...
                man, it changed everything. In Nuke World, superpowered beings clash in a world built from ruins,
                energy, and raw
                survival instinct.<br />
                Every move you make? It actually matters. Win a fight and you'll see that victory mean something later
                on.</p>
            <a class="home-link" href="#demo">
                <p class="home-link-text">Enter the Wasteland</p>
            </a>
            <img class="pangolin" src="/img/home/pangolin.png" alt="pangolin" loading="lazy">
        </div>
        <div class="discklaimer-wrapper">
            <h2 class="disclaimer-title">Disclaimer:</h2>
            <p class="disclaimer-text">myraverse.site IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING
                THIS GAME CANNOT BE CONSIDERED THE SAME
                AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
                PLAYING THIS GAME.</p>
        </div>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">NUKE WORLD</h2>
        <div class="demo-wrapper">
            <picture>
                <source srcset="
                /img/demo/game-desk.png 1x,
                /img/demo/game-desk@2x.png 2x
                " media="(min-width: 1439px)" />
                <source srcset="
                /img/demo/game-mob.png  1x,
                /img/demo/game-mob@2x.png 2x
                " media="(max-width: 1438px)" />
                <img class="game-img" src="/img/demo/game-mob.png" alt="NUKE WORLD" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#" data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/nukeworld"
            target="gameIframe">
           <p class="demo-text">Play free</p>
        </a>
    </div>
</section>
<section class="world-section" id="world">
    <div class="container world-container">
        <div class="world-wrapper">
        <h2 class="world-title">THE WORLD AFTER THE BLAST</h2>
        <h3 class="world-subtitle">A Planet Rewritten by Radiation</h3>
        <p class="world-text">Nuke World takes place in an alternate future where nuclear fallout didn’t end civilization — it mutated it.<br/>Skyscrapers
        became arenas. Deserts glow at night. Energy pulses through the ground like a heartbeat.<br/>
        Everything looks like it's about to fall apart, but somehow it's still alive, you know? Warning lights flicker, sirens
        echo in the distance, and every zone looks like it could collapse at any moment.<br/>
        This is not a clean future.<br/>It’s powerful, loud, and unforgiving.</p>
     </div>
        <img class="rhino" src="/img/world/rhino.png" alt="rhino" loading="lazy">
    
</div>
</section>
<section class="back-section">
    <div class="container">

    </div>
</section>
<section class="heroes-section" id="heroes">
    <div class="container heroes-container">
        <h2 class="heroes-title">HEROES & ENEMIES </h2>
        <h3 class="heroes-subtitle">Mutations Decide Everything</h3>
        <div class="heroes-swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
        <picture>
            <source srcset="
            /img/heroes/one-desk.png 1x,
            /img/heroes/one-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/heroes/one-mob.png  1x,
            /img/heroes/one-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="heroes-img" src="/img/heroes/one-mob.png" alt="NUKE WORLD" loading="lazy" />
        </picture>
        <h4 class="slide-title">Rhino</h4>
        <p class="slide-text">This guy's basically a walking tank - he doesn't do subtle, just smashes through whatever's in front of him.
</p>
                </div>
        <div class="swiper-slide">
        <picture>
            <source srcset="
            /img/heroes/two-desk.png 1x,
            /img/heroes/two-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/heroes/two-mob.png  1x,
            /img/heroes/two-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="heroes-img" src="/img/heroes/two-mob.png" alt="NUKE WORLD" loading="lazy" />
        </picture>
        <h4 class="slide-title">Rooster</h4>
        <p class="slide-text">Unpredictable and aggressive. Thrives on chaos and sudden attacks.
</p>
                </div>
        <div class="swiper-slide">
        <picture>
            <source srcset="
            /img/heroes/three-desk.png 1x,
            /img/heroes/three-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/heroes/three-mob.png  1x,
            /img/heroes/three-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="heroes-img" src="/img/heroes/three-mob.png" alt="NUKE WORLD" loading="lazy" />
        </picture>
        <h4 class="slide-title">Chameleon</h4>
        <p class="slide-text">A master of adaptation. Shifts tactics constantly, never playing the same way twice.
</p>
                </div>
        <div class="swiper-slide">
        <picture>
            <source srcset="
            /img/heroes/four-desk.png 1x,
            /img/heroes/four-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/heroes/four-mob.png  1x,
            /img/heroes/four-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="heroes-img" src="/img/heroes/four-mob.png" alt="NUKE WORLD" loading="lazy" />
        </picture>
        <h4 class="slide-title">Armadillo</h4>
        <p class="slide-text">Defensive powerhouse. Turns endurance into a weapon.
</p>
                </div>
        <div class="swiper-slide">
        <picture>
            <source srcset="
            /img/heroes/five-desk.png 1x,
            /img/heroes/five-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/heroes/five-mob.png  1x,
            /img/heroes/five-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="heroes-img" src="/img/heroes/five-mob.png" alt="NUKE WORLD" loading="lazy" />
        </picture>
        <h4 class="slide-title">Captain Fox</h4>
        <p class="slide-text">This guy's all about tactics - radiation made him sharp, and he's always thinking three moves ahead of everyone else.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="battle-section" id="battle">
    <div class="container battle-container">
        <div class="battle-wrapper">
        <h2 class="battle-title">BATTLEFIELD DYNAMICS</h2>
        <h3 class="battle-subtitle">The Grid Is the Battlefield</h3>
        <p class="battle-text">The game unfolds across a wide, multi-reel grid that feels more like a combat zone than a board.<br/>Elements align, react,
        and trigger chain effects that shift the flow of battle.<br/>
        Crazy stuff can happen out of nowhere on the battlefield - you've gotta think fast or you're toast.<br/>
        Things are constantly shifting around - blink and you might miss something important.</p>
        </div>
        <picture>
            <source srcset="
             /img/battle/one-desk.png 1x,
            /img/battle/one-desk@2x.png2x
                    " media="(min-width: 1439px)" />
            <source srcset="
            /img/battle/one.png  1x,
            /img/battle/one@2x.png 2x
                    " media="(max-width: 1438px)" />
        <img class="battle-img-one" src="/img/battle/one.png" alt="cube" loading="lazy">
        </picture>
        <picture>
            <source srcset="
             /img/battle/two-desk.png 1x,
            /img/battle/two-desk@2x.png2x
                    " media="(min-width: 1439px)" />
            <source srcset="
            /img/battle/two.png  1x,
            /img/battle/two@2x.png 2x
                    " media="(max-width: 1438px)" />
        <img class="battle-img-two" src="/img/battle/two.png" alt="cube" loading="lazy">
        </picture>        
       
    </div>
</section>