body{
  font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #091b4f;
}
h2{
  font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 58px;
    line-height: 1.37931;
    letter-spacing: -0.04em;
    color: #f91;
}
h3{
  font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.42857;
    color: #091b4f;
}
