.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 20px;
background: #4034eb;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #091b4f;
    text-align: left;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 360px;
    height: 40px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
    border-radius: 8px;
    padding: 7px 5px;
    width: 170px;
    height: 40px;
    background: #60f8ff;
    box-sizing: border-box;
    border: none;
font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #091b4f;

}

.btn-decline {
    border: none;
    padding: 7px 12px 7px 0;
    width: 160px;
    height: 40px;
font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #091b4f;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    box-sizing: border-box;
    background-color: inherit;
}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 40px 80px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cookie-class {
        width: 780px;
        margin-top: 0;
    }

    .cookie-buttons {
        margin-top: 0;
    }
}