.footer{
  background: #4034eb;
}
.footer-container{
  padding: 40px 65px;
}
.footer-page-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.footer-title{
  padding-left: 20px;
  border-left: 3px solid #52fd28;
  font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333;
    color: #fff;
}
.footer-menu-list{
    display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.55556;
 text-align: left;
        color: #fff;
}
.footer-navigation{
      display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.55556;
        text-align: left;
        color: #fff;
}
.footer-logo-wrapper{
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.footer-text{
  font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding: 59px 108px;
    display: flex;
    justify-content: space-between;
  }
}