.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: #fff;
  height: 72px;
  width: 100%;

}

.header-container {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #31406c;
  opacity: 0.96;
  padding: 90px 41px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}


.menu-list-item {
font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;
}


@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 64px;
  
  }

  .header-container {
    padding: 20px 80px;
    display: flex;
    justify-content: center;
  
  }
.header-logo-link{
position: absolute;
  padding: 13px 84px;
    width: 226px;
    height: 64px;
    background: #091b4f;
left: 0;
top: 0;
}

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 64px;
  }


  .links {
font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #171717;
    padding-bottom: 8px;
    transition: all 0.2s ease-out;
  }

  .links:hover,
  .links:focus,
  .links.active {
border-bottom: 3px solid #DC7000;
  }

}