.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 803px;
    position: relative;
    height: 1346px;
}
.home-container{
    padding-left: 20px;
    padding-right: 20px;
}
.home-titlle{
    font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 64px;
        line-height: 1.125;
        color: #fff;
}
.home-one-text{
    margin-top: 14px;
    margin-bottom: 24px;
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 28px;
        line-height: 1.42857;
        color: #fffcfc;
}
.home-two-text{
    font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 19px;
        line-height: 1.05263;
        color: #fffcfc;
}
.home-link{
    display: inline-block;
    margin-top: 40px;
    background: linear-gradient(180deg, #ff5e21 7.5%, #f91 100%);
    border: 0.50px solid #fff;
        border-radius: 14px;
        padding: 20px 56px;
        width: 329px;
        height: 63px;
        margin-bottom: 102px;
}


.discklaimer-wrapper{
    position: absolute;
    background-image: url("/img/home/disclaimer-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 375px 615px;
    padding: 200px 39px 40px;
   left: 0;

   width: 375px;
   height: auto;
}
.disclaimer-title{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33333;
        color: #f91;
}
.disclaimer-text{
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #fff;
}
.pangolin{
    display: none;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
    background-size: 100% 1024px;
    height: 1024px;
}
.home-titlle{
    margin-top: 80px;
}
.home-container{
    padding-left: 100px;
    padding-right: 100px;
}
.home-wrapper{
    width: 798px;
}
.home-one-text{
    margin-top: 48px;
}
.home-link{
    margin-bottom: 66px;
}
.pangolin{
    position: absolute;
    display: block;
    right: 10px;
    bottom: 30%;
}
.discklaimer-wrapper{
    background-image: url("/img/home/disclaimer-desk.png");
    width: 1260px;
        height: 278px;
        background-size: cover;
    left: 42%;
    top: 65%;
    transform: translateX(-40%);
    padding: 80px 39px 35px;
}
.disclaimer-title{
    margin-left: 560px;
}
.disclaimer-text{
    width: 636px;
    margin-left: 560px;
}
}
/* Demo */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.demo-container {
    position: relative;
padding-top: 0px;
padding-bottom: 0;
}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 806px;
}

.game-img {
    width: 100%;
    height: 806px;

}

/* ===== КНОПКА ===== */

.demo-btn {
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: 80%;
        left: 50%;
        width: 284px;
        height: 91px;
        transform: translate(-50%, -50%);    
background: linear-gradient(180deg, #ff5e21 7.5%, #f91 100%);
border: 0.50px solid #fff;
    border-radius: 14px;
    padding: 20px 56px;
    width: 270px;
    height: 63px;
    margin-top: 20px;
}


/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 9%;
    left: 38%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 130%;
    height: 151%;
    border: none;
    display: none;
    background: #000;
border-radius: 30px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 30px;
    right: -60px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}
@media only screen and (min-width: 1440px) {
.iframe-wrapper {
        position: absolute;
        top: 8%;
        left: 39%;
        transform: translateX(-48%);
        width: 68%;
        height: 54%;
        z-index: 20;

        /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
        pointer-events: none;
    }

    #gameIframe {
        width: 129%;
        height: 156%;
        border: none;
        display: none;
        background: #000;
        border-radius: 30px;
    }
        #closeIframeBtn {
            position: absolute;
            top: 60px;
            right: -60px;
    
            background: none;
            border: none;
            cursor: pointer;
    
            display: none;
    
            z-index: 9999;
            /* 🔥 НАД iframe */
            pointer-events: auto;
        }
}
.world-title{
margin-bottom: 48px;
font-weight: 900;
    line-height: 1.125;
    font-size: 64px;
}
.world-text{
      margin-top: 24px;   
}
.rhino{
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
    .world-container{
        display: flex;
        gap: 22px;
        align-items: center;
    }
    .world-wrapper{
        width: 838px;
    }
    .rhino{
        width: 401px;
        height: 447px;
    }
    .world-text{
        width: 798px;
   
    }
}
/* back */
.back-section{
    background-image: url("/img/back/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 147px;
}
@media only screen and (min-width: 1440px) {
 .back-section{
    background-image: url("/img/back/desk.png");
    height: 564px;
 }
}
/* HEROES & ENEMIES */
.heroes-title{
    font-weight: 900;
        font-size: 64px;
        line-height: 1.25;
        margin-bottom: 16px;
}
.heroes-subtitle{
    margin-bottom: 47px;
}
.heroes-img{
    margin-left: auto;
    margin-right: auto;
}
.slide-title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Raleway", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 40px;
        line-height: 0.45377;
        text-transform: uppercase;
        text-align: center;
        color: #f91;
}
.slide-text{
    width: 258px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.13442;
        text-align: center;
        color: #4034eb;
}
@media only screen and (min-width: 1440px) {
    .heroes-container{
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .heroes-img{
        width: 620px;
            height: 500px;
    }
        .heroes-swiper {
            overflow: hidden;
        }
    
        /* базово всі слайди трохи прозорі */
        .heroes-swiper .swiper-slide {
            opacity: 0.5;
            transition: opacity 0.4s ease, transform 0.4s ease;
        }
    
        /* активний (центральний) */
        .heroes-swiper .swiper-slide-active {
            opacity: 1;
        }
        .heroes-title{
            margin-left: 110px;
        }
        .heroes-subtitle{
            margin-left: 110px;
        }
}
/* BATTLEFIELD DYNAMICS */
.battle-container{
    position: relative;
    padding-bottom: 300px;
}
.battle-subtitle{
    margin-top: 16px;
    margin-bottom: 16px;
}
.battle-img-one{
    position: absolute;
    z-index: 3;
}
.battle-img-two{
    position: absolute;
    z-index: 2;
}
@media only screen and (min-width: 1440px) {
    .battle-wrapper{
        width: 810px;
    }
    .battle-container{
        padding-top: 100px;
        padding-bottom: 67px;
    }
    .battle-img-one{
right: 17%;
top: 30%;
    }
    .battle-img-two{
        right: 0px;
        top: 0;
    }
}